* {
    margin: 0;
}

body {
    background-color: #b2a2be;
}

header {
    background-color: rgb(255, 212, 251);
    padding: 15px;
    color: #fff;
}

main {
    background-color: rgb(162, 195, 255);
    width: 70%;
    margin: auto;
    padding: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

#nome {
    border: 1px solid #666;
    width: 50%;
}

#email {
    border: 1px solid #666;
    width: 50%;
}

#cpf {
    border: 1px solid #666;
    width: 50%;
    margin-bottom: 10px;
}

fieldset {
    margin-bottom: 10px;
}
