body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    text-align: center;
    line-height: 100px;
    font-size: 3em;
}

#c01 {
    height: 100px;
    background-color: black;
}

#c02 {
    height: 100px;
    background-color: #666;
}

#c03 {
    height: 100px;
    background-color: #999;
}